<h1 class="mt-5">All Products</h1>
<div class="container my-5">
  @if (products.length==0){
    <app-loder></app-loder>
  }@else{
    <div class="d-flex gy-5 flex-wrap justify-content-center">
      @for (bl7 of products; track bl7.id;) {

        <div class="item border border-2 border-dark rounded-2 overflow-hidden m-3 p-2">
          <img [src]="bl7.image"   alt="" style="width: 250px;height: 200px;">
          <hr>
        <div class="ps-2">
        <!-- <p style="font-size: xx-small;">{{bl7.title}}</p> -->
        <p>our product is original</p>
        <p>Price : {{bl7.price}} <span class="text-success">$</span> </p>
        </div>
        </div>
      }
    </div>
  }
</div>

<h2 class="my-5">Recomended Products</h2>
<div class="container my-5">
<!-- Trigger by timer  -->
     @defer (on timer(5s)) {
      <app-recomended></app-recomended>
    }
    @placeholder () {
      <app-loder></app-loder>
    }

</div>
